{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About JerseyHeritage</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<br></br>

<div class"container">
    <div class"row">
        <center>
            <div class"col-8">
                <p align="center">
            
                    At JerseyHeritage, we celebrate the timeless allure of football jerseys with a modern twist. Our collection embodies the rich stories behind each jersey, blending classic designs with contemporary craftsmanship. Dive into our curated selection where every jersey tells a tale, from iconic moments on the pitch to legendary players who left their mark. Discover your piece of football history at JerseyHeritage and wear the passion of the game with pride.</p>
            </div>
        </center>
    </div>

            </div>                

{% endblock %}