{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search Products</h1>
            <p class="lead fw-normal text-white-50 mb-0">Type the item you want !!</p>
        </div>
    </div>
</header>
<br></br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                    Search Jerseys
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Search For Jerseys" name="searched">
                        </div>
                        <button type="submit" class="btn btn-secondary">Search Jerseys</button>
                    </form>
                </div>
                <div class="card-footer text-body-secondary">
                    Check out our categories in the Categories section!
                </div>
            </div>
        </div>
    </div>
</div>

{% if searched %}
    <div class="container mt-4">
        <div class="row">
            {% for product in searched %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if product.is_sale %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sales</div>
                        {% endif %}
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="Product Image" />
                        <div class="card-body p-4 text-center">
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            {% if product.is_sale %}
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    </br> Sale </br>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <strike>€{{ product.price }}</strike>
                                </br>
                                €{{ product.sale_price }}
                            {% else %}
                                €{{ product.price }}
                            {% endif %}
                            </br>
                            {{ product.category }}
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Jersey</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}
