{% extends "base.html" %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Shopping cart</h1>
                </div>
            </div>
        </header>
    </br>
    <div class="container">

    {% if cart_products %}

        {% for product in cart_products %}

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="Product Image">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <!-- Additional product details can go here -->
    
                        {% if product.is_sale %}
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <span> Sale </span>
                            <div class="bi-star-fill"></div>
                        </div>
                        <p><strike>€{{ product.price }}</strike></p>
                        <p>€{{ product.sale_price }}</p>
                        {% else %}
                        <p>€{{ product.price }}</p>
                        {% endif %}
    
                        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </br>

        {% endfor %}

    {% else %}

        Your Cart is empty Champ 

    </br></br></br></br></br></br></br></br></br>

    {% endif %}
    </div>
    </br></br></br></br></br></br></br></br></br>
{% endblock %}