{% extends "base.html" %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">The Checkout Was Successfull !!</h1>
                    <h2 class="display-4 fw-bolder">Thank You For Shopping At JerseyHeritage</h2>

                    
                </div>
            </div>
        </header>
    </br>



</br></br>



</br></br>


    </br></br></br></br></br></br></br></br></br>

    </div>
    </br></br></br></br></br></br></br></br></br>



{% endblock %}
